/* arm-switch.component.css */

:host {
  display: flex;
  width: 100%;
  justify-content: center;
  --slider-diameter: 3em;
}

:host > * {
  transition-timing-function: ease-in-out;
}

:host h3 {
  text-align: center;
}
