<div>
  <f-arm-switch [lock]="lock.lockState" (onEvent)="handleArmEvent($event)"></f-arm-switch>
  <div id="fire-buttons">
    <f-fire-button
      [channel]='0'
      [lock]="lock.lockState"
      (onEvent)="handleFireEvent($event)">
    </f-fire-button>
    <f-fire-button
      [channel]='1'
      [lock]="lock.lockState"
      (onEvent)="handleFireEvent($event)">
    </f-fire-button>
    <f-fire-button
      [channel]='2'
      [lock]="lock.lockState"
      (onEvent)="handleFireEvent($event)">
    </f-fire-button>
  </div>
</div>
