:host > div {
  width: 90vw;
  height: calc(100vh - 10vw);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  flex-direction: column;
}

:host #fire-buttons {
  align-items: center;
  display: flex;
  height: 4em;
  justify-content: center;
  margin-top: 2em;
  width: 100vw;
}
