:host > div {
  width: 90vw;
  height: calc(100vh - 10vw);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  flex-direction: column;
}

:host #fire-buttons {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 6em;
}
