/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,400');

html {
  /* colors */
  --grey: hsl(0, 0%, 85%);

  /* typography */
  font-family: 'Catamaran', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
