/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Catamaran';
  src:         url('/assets/fonts/Catamaran-Light.ttf');
}

html {
  /* colors */
  --black: hsl(0, 0%, 10%);
  --white: hsla(0, 0%, 100%, 0.8);
  --blue: hsl(200, 40%, 30%);
  --light-blue: hsl(200, 30%, 40%);
  --orange: hsl(20, 84%, 55%);
  --light-orange: hsl(20, 50%, 70%);
  --red: hsl(0, 80%, 50%);

  /* typography */
  font-family: 'Catamaran', sans-serif;
}

body {
  background-color: var(--black);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100vw;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
